In [7]:
import zipfile, urllib.request, shutil
url = 'https://www.kaggle.com/nicapotato/womens-ecommerce-clothing-reviews/downloads/Womens%20Clothing%20E-Commerce%20Reviews.csv'
# file_name = 'Women.zip'
# with urllib.request.urlopen(url) as response, open(file_name, 'wb') as out_file:
#     shutil.copyfileobj(response, out_file)
#     with zipfile.ZipFile(file_name) as zf:
#         zf.extractall()

In [6]:
# import pandas as pd
# df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
 
# dfunstacked=df[['Rating','Division Name','Department Name']].groupby(['Division Name','Department Name']).mean().unstack()

In [10]:
import numpy as np
import pandas as pd
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    1.709816
   2   -0.824444
   3    1.920218
b  1    0.106124
   3   -0.786647
c  1    1.395712
   2   -1.102335
d  2   -1.432714
   3   -0.979672
dtype: float64

In [11]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [12]:
data.unstack()

          1         2         3
a  1.709816 -0.824444  1.920218
b  0.106124       NaN -0.786647
c  1.395712 -1.102335       NaN
d       NaN -1.432714 -0.979672

In [13]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [14]:
frame.unstack()

   Ohio            Colorado
  Green    Red        Green
      1  2   1   2        1   2
a     0  3   1   4        2   5
b     6  9   7  10        8  11

In [16]:
from requests import get
url = 'https://www.tutorialspoint.com/apache_oozie/apache_oozie_introduction.htm'
response = get(url)
print(response.text[:2000])

<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>APache Oozie Introduction</title>
<meta name="description" content="Apache Oozie Introduction - Learn Apache Oozie starting from Introduction, Workflow, Property File, Coordinator, Bundle, CLI and Extensions." />
<meta name="keywords" content="Apache Oozie, Tutorial, Introduction, Workflow, Property File, Coordinator, Bundle, CLI and Extensions." />
<base href="https://www.tutorialspoint.com/" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="471319149685276" />
<meta property="og:site_name" content="www.tutorialspoint.com" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="author" content="tutorialspoint.com">
<script type="text/javascript" src="https://www.tutorialspoint.com/theme/js/script-min-v4.js?v=2"></script>
<link rel="stylesheet" href="https://www.tutorialspoint.com/theme/css/style-min.css?v=3">
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("right_obs").style.display = "block";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("right_obs").style.display = "none";
}
function close_obs_sidenav(){
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("right_obs").style.display = "none";
}
</script>
<!-- Head Libs -->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="/theme/css/ie8.css">
<![endif]-->
<style>
select{ border:0 !import

In [17]:
from bs4 import BeautifulSoup
 
html_soup = BeautifulSoup(response.text, 'html.parser')
print (type(html_soup))

<class 'bs4.BeautifulSoup'>

In [18]:
containers = html_soup.find_all('div', class_ = 'col-md-7 middle-col')
containers2 = html_soup.find_all('ul', class_ = 'nav nav-list primary left-menu')
 
print(type(containers))
print(len(containers))
 
print(type(containers2))
print(len(containers2))

<class 'bs4.element.ResultSet'>
1
<class 'bs4.element.ResultSet'>
2

In [20]:
print(containers2)
first = containers2[0]
print('---------------')
print(first)
print('---------------')
 
print(first.li)
print('---------------')
print(first.a)
print('---------------')
 
print(first.ul)
print('---------------')
 
print(first.find('li', class_ = 'heading'))
print('---------------')

[<ul class="nav nav-list primary left-menu">
<li class="heading">Apache Oozie Tutorial</li>
<li><a href="/apache_oozie/index.htm">Apache Oozie - Home</a></li>
<li><a href="/apache_oozie/apache_oozie_introduction.htm">Apache Oozie - Introduction</a></li>
<li><a href="/apache_oozie/apache_oozie_workflow.htm">Apache Oozie - Workflow</a></li>
<li><a href="/apache_oozie/apache_oozie_property_file.htm">Apache Oozie - Property File</a></li>
<li><a href="/apache_oozie/apache_oozie_coordinator.htm">Apache Oozie - Coordinator</a></li>
<li><a href="/apache_oozie/apache_oozie_bundle.htm">Apache Oozie - Bundle</a></li>
<li><a href="/apache_oozie/apache_oozie_cli_and_extensions.htm">Apache Oozie - CLI and Extensions</a></li>
</ul>, <ul class="nav nav-list primary left-menu">
<li class="heading">Apache Oozie Useful Resources</li>
<li><a href="/apache_oozie/apache_oozie_quick_guide.htm">Apache Oozie - Quick Guide</a></li>
<li><a href="/apache_oozie/apache_oozie_useful_resources.htm">Apache Oozie - Useful Resources</a></li>
<li><a href="/apache_oozie/apache_oozie_discussion.htm">Apache Oozie - Discussion</a></li>
</ul>]
---------------
<ul class="nav nav-list primary left-menu">
<li class="heading">Apache Oozie Tutorial</li>
<li><a href="/apache_oozie/index.htm">Apache Oozie - Home</a></li>
<li><a href="/apache_oozie/apache_oozie_introduction.htm">Apache Oozie - Introduction</a></li>
<li><a href="/apache_oozie/apache_oozie_workflow.htm">Apache Oozie - Workflow</a></li>
<li><a href="/apache_oozie/apache_oozie_property_file.htm">Apache Oozie - Property File</a></li>
<li><a href="/apache_oozie/apache_oozie_coordinator.htm">Apache Oozie - Coordinator</a></li>
<li><a href="/apache_oozie/apache_oozie_bundle.htm">Apache Oozie - Bundle</a></li>
<li><a href="/apache_oozie/apache_oozie_cli_and_extensions.htm">Apache Oozie - CLI and Extensions</a></li>
</ul>
---------------
<li class="heading">Apache Oozie Tutorial</li>
---------------
<a href="/apache_oozie/index.htm">Apache Oozie - Home</a>
---------------
None
---------------
<li class="heading">Apache Oozie Tutorial</li>
---------------

In [21]:
heading = first.find('li', class_ = 'heading')
print(heading.text)

Apache Oozie Tutorial